<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for ('static', filename= 'estilos.css') }}"
    />
    <title>Contacto</title>
  </head>
  <body>
    <h1>Contacto</h1>
    <a href="{{url_for ('inicio') }}"> Inicio</a>

    <h2>{{ datos['titulo'] }}</h2>
    <h1>{{ datos['director'] }}</h1>
  </body>
</html>
